---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.css';

// React components (client-side interactive)
import { Navbar } from '../components/react/Navbar';
import { Hero } from '../components/react/Hero';
import { About } from '../components/react/About';
import { TechMarquee } from '../components/react/TechMarquee';
import { Works } from '../components/react/Works';
import { Experience } from '../components/react/Experience';
import { Contact } from '../components/react/Contact';
import { Footer } from '../components/react/Footer';
import { CustomCursor } from '../components/react/CustomCursor';
---

<Layout>
  <CustomCursor client:load />
  <Navbar client:load />
  
  <main>
    <Hero client:load />
    <About client:load />
    <TechMarquee client:load />
    <Works client:load />
    <Experience client:load />
    <Contact client:load />
  </main>
  
  <Footer client:load />
</Layout>
